<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if favicon is defined %}
<link rel="shortcut icon" href="{{ protocolHost }}{{ favicon }}">
{% endif %}
{{ include("Css.twig") }}
{% block css %}
{% endblock %}
<script type="module">

import {getCookie, setCookie} from '/js/cookie.js';

const cookie = 'refresh';
let timerId;

document.addEventListener('DOMContentLoaded', function () {
  const checkbox = document.querySelector('input[type=checkbox]#refresh');

  if (!checkbox) {
    return;
  }

  checkbox.addEventListener('click', (event) => {
    if (event.target.checked) {
      timerId = setTimeout(refreshPage, 15000);
    } else {
      clearTimeout(timerId);
    }

    setCookie(cookie, event.target.checked, {secure: true});
  });

  const refresh = getCookie(cookie);

  //console.log(`cookie state ${refresh}`);

  if (refresh === "true") {
    checkbox.click();
  }
});

function refreshPage() {
  window.location.reload();
}

</script>
{% block head %}
{% endblock %}
</head>
<body>
{% if noNav is not defined %}
<div class="navigation-background">
  <div class="back">
{% if sandbox %}
    <span class="sandbox">Sandbox</span>
{% else %}
    <span class="production">LIVE</span>
{% endif %}
    <a href="/dashboard/">home</a>
  </div>
  <div class="navigation container">
    <div class="left">
      <span class="title">{{ title }}</span>
    </div>
    <div class="middle">
{% if navigation is defined %}
      {{ navigation }}
{% endif %}
    </div>
  </div>
  <div class="right">
{% if refresh is defined %}
    <label>
      <input id="refresh" type="checkbox" role="switch" />
      auto-refresh (15s)
    </label>
{% endif %}
    <a href="https://octopuslabs.io/dashboard/">octopus labs</a>
  </div>
</div>
{% endif %}
{% block body %}
{% endblock %}
</body>
</html>
